.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    // border: 1px solid antiquewhite;
    border-radius: 10px;
    color: black;
    background: linear-gradient(180deg,rgba(201, 193, 221,0.5) 0%,rgba(255, 255, 255,1) 80%);
    top: 90px;
    right: 40px;
    z-index: 5;

    .empty-message {
      font-size: 18px;
      margin: auto auto;
    }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  
    button {
      margin-top: auto;
    }
}
  