.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    // border: 1px solid antiquewhite;
    border-radius: 10px;
    color: rgb(30, 10, 10);
    background: linear-gradient(180deg,rgba(210, 230, 230,0.7) 0%,rgba(250, 235, 215,0.9) 80%);
    top: 90px;
    right: 40px;
    z-index: 5;

    .empty-message {
      font-size: 18px;
      margin: auto auto;
    }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  
    button {
      margin-top: auto;
    }
}
  