.freerun-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    // padding: 100px;
    // border: 3px solid antiquewhite;
    border-radius: 10px 10px 0 0;
}