.sign-up {
    display: flex;
    flex-direction: column; 
    width: 35vw; 
    background: rgba(255, 255, 255,0.1);
    color: antiquewhite; 
    border-radius: 10px;
    padding: 20px;

    // .title {
    //     margin: 10px 0;
    // }

    .buttons {
        display:  flex;
        justify-content: space-between;
    }
}