.header {
    // height: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 6fr 4fr;
    grid-template-rows: 1fr;
    background: linear-gradient(rgba(0,0,0,1) 0% , rgba(67, 48, 46,1) 90%);
    // background: rgba($color: rgba(0,0,0,1), $alpha: 1.0);
    margin-bottom: 5%;
    padding-top: 1%;
  
    .logo-container {
      margin: auto;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .option {
        padding: 5px 20px;
        margin: 0px 10px;
        background: -webkit-linear-gradient(0.375turn, #3f87a6, #ebf8e1, #f69d3c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-right: 0.5px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255,0.3);
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
  