.header {
    height: 66px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
  
    .logo-container {
      height: 100%;
      width: 25%;
      padding: 0px;
    }

    .options {
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .option {
        padding: 3px 20px;
        margin: 0px 10px;
        background: -webkit-linear-gradient(0.375turn, #3f87a6, #ebf8e1, #f69d3c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-right: 0.5px solid whitesmoke;
        border-bottom: 1px solid white;
        border-radius: 10px;

      }
    }
  }
  