.header {
    // height: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 6fr;
    grid-template-rows: 1fr;
    background: linear-gradient(180deg,#43302e 0%,#43302e 100%);
    margin-bottom: 5%;
    padding-top: 1%;
  
    .logo-container {
      margin: auto;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .option {
        padding: 5px 20px;
        margin: 0px 10px;
        background: -webkit-linear-gradient(0.375turn, rgb(255, 240, 240), rgb(240,255,240), rgb(240,240,255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-right: 0.5px solid rgba(0, 100, 0, 0.3);
        border-bottom: 1px solid rgba(100, 0, 0,0.3);
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
  