body {
  background: rgb(67, 48, 46);
  font-family: Noteworthy, Montserrat, "Open Sans", Lato, Roboto, "Proxima Nova";
  /* padding: 0px 20px; */
}

h1, h3 {
  text-align: center;
  color: antiquewhite;
  margin: 0;
}

a {
  text-decoration: none;
}

 * {
   box-sizing: border-box;
 }