body {
  font-family: 'Open Sans Condensed';
  /* background: rgb(67, 48, 46); */
  background: linear-gradient(90deg,rgb(67, 48, 46) 75%,rgb(250, 235, 215) 100%);
  /* padding: 0px 20px; */
  color: antiquewhite;
}

h1, h3 {
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
}

 * {
   box-sizing: border-box;
 }